<?xml version="1.0" encoding="UTF-8"?>
<config>
    <thread>20</thread>
    <deep>2</deep>
    
    <outputDir>cache2013.log</outputDir>


    
<seeds><site0>http://news.sina.com.cn/society/</site0><site1>http://news.sina.com.cn/china/</site1><site2>http://news.163.com/shehui/</site2><site3>http://news.163.com/domestic/</site3></seeds></config>